.uno{
    background-color: #97272f;
   }
   .dos{
    background-color: #943f25;
   }
   .tres{
    background-color: #8f5e22;
   }
   .cuatro{
    background-color: #867c1d;
   }
   .cinco{
    background-color: #62831b;
   }
   .seis{
    background-color: #22831b;
   }
   .siete{
    background-color: #00831b;
   }
   .ocho{
    background-color: #00833a;
   }
   .nueve{
    background-color: #00833a;
   }
   .diez{
    background-color: #00837c;
   }
   .once{
    background-color: #006c84;
   }
   .doce {
    background-color: #004e85;
   }
   .trece {
    background-color: #232e85;
   }
   .catorce {
    background-color: #462785;
   }
   .quince {
    background-color: #6b2785;
   }
   .dieciseis {
    background-color: #8f2785;
   }
   .diecisiete {
    background-color: #97276e;
   }
   .dieciocho {
    background-color: #97274f;
   }