.uno{
       background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Royal_Blue_Red_Pink.png");
   }
   .dos{
    background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Blue_Purple_Orange.png");
   }
   .tres{
    background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Purple_Yellow.png");
   }
   .cuatro{
    background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Magenta_Lime.png");
   }
   .cinco{
    background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Red_Neon_Green.png");
   }
   .seis{
    background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Clay_Mint.png");
   }
   .siete{
    background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Hay_Cyan.png");
   }
   .ocho{
    background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Olive_Green_Sky_Blue.png");
   }
   .nueve{
    background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Green_Blue.png");
   }
   .diez{
    background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Dark_Green_Neon_Purple.png");
   }
   .once{
    background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Aqua_Neon_Magenta.png");
   }
   .doce {
       background-image: url("/PAGINA_LABORATORIO/Air_Zoom/Color_options/Coral_Blue_Pink.png");
   }